.mat-toolbar.mat-primary {
    background: #0f0e0ee1;
    color: #fff;
  }

.container {
    height: 100%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

.content {
    height: 100%;
    overflow: hidden;
    background-color: #343434;
  }

.mat-drawer-content {
    overflow: hidden;
  }
