.mat-elevation-z4.mat-card {
  display: flex;
  flex-direction: column;
  height: 375px;
  width: 180px;
  overflow-y: none;
  margin: 16px;
  overflow: hidden;
  background: transparent;
  transition: none;
  box-shadow: none;
  border-radius: 8px;
}

.card-image {
  display: block;
  object-fit: fill;
  object-position: top;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.mat-card-title {
  font-size: 16px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: grey;
  height: 50px;
  margin: 0px;
}

.mat-card-content {
  font-size: 12px;
  height: 15px;
  margin: 0px;
  flex-grow: 1;
  color: grey;
}

.line-clamp-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.mat-card-subtitle {
  font-size: 12px;
  max-height: 16px;
}

.mat-card-actions {
  height: 16px;
  padding: 0px;
  margin: 0px;
  margin-top: 4px;
}

.mat-card-footer {
  font-size: 14px;
  margin-left: 0px;
  margin-bottom: 0px;
  height: 20px;
  right: -10px;
  flex-direction: row;
}

.red-icon {
  color: #920303;
}

.text-with-icon{
  margin-left: 5px; 
  margin-bottom: 5px;
  font-family: 'Seg oe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color:grey;
}